@-moz-keyframes rise {
  0% {
    -moz-transform: translateY(300px);
    transform: translateY(300px);}

  70% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);}

  100% {
    -moz-transform: translateY(0px);
    transform: translateY(0px);}
}

@-webkit-keyframes rise {
  0% {
    -webkit-transform: translateY(300px);
    transform: translateY(300px);}

  70% {
    -webkit-transform: translateY(-15px);
    transform: translateX(-15px);}

  100% {
    -webkit-transform: translateY(0px);
    transform: translateX(0px); } 
}

@-o-keyframes rise {
  0% {
    -o-transform: translateY(300px);
    transform: translateY(300px);}

  70% {
    -o-transform: translateY-15px);
    transform: translateY(-15px);}

  100% {
    -o-transform: translateY0px);
    transform: translateY(0px); } }

@-ms-keyframes rise {
  0% {
    -ms-transform: translateY(0px);
    transform: translateY(0px);}

  70% {
    -ms-transform: translateY(345px);
    transform: translateY(345px); }

  100% {
    -ms-transform: translateY(330px);
    transform: translateY(330px); } }

@keyframes rise {
  0% {
    transform: translateY(300px);}

  70% {
    transform: translateY(-15px); }

  100% {
    transform: translateY(0px); } }

@-moz-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-o-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-ms-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }


@-moz-keyframes fade-out {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-webkit-keyframes fade-out {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-o-keyframes fade-out {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-ms-keyframes fade-out {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@keyframes fade-out {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-moz-keyframes idle{
  0%{
    -moz-transform: translateY(0px);
    transform: translateY(0px);}
  25%{
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);}
  75%{
     -moz-transform: translateY(10px);
    transform: translateY(10px);}}
  
@-webkit-keyframes idle{
  0%{
    -webkit-transform: translateY(0px);
    transform: translateY(0px);}
  25%{
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);}
  75%{
     -webkit-transform: translateY(10px);
    transform: translateY(10px);}}   

@-o-keyframes idle{
  0%{
    -webkit-transform: translateY(0px);
    transform: translateY(0px);}
  25%{
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);}
  75%{
     -webkit-transform: translateY(10px);
    transform: translateY(10px);}} 

@-ms-keyframes idle{
  0%{
    -webkit-transform: translateY(0px);
    transform: translateY(0px);}
  25%{
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);}
  75%{
     -webkit-transform: translateY(10px);
    transform: translateY(10px);}}            

 @keyframes idle{
  0%{
    transform: translateY(0px);}
  25%{
    transform: translateY(-10px);}
  75%{
    transform: translateY(10px);}}     


@-webkit-keyframes draw{
  90% {
    fill-opacity:0;
    stroke-dashoffset: 0;
  }
  100%{
    fill-opacity:1;
    stroke-dashoffset: 0;}
 }

@-moz-keyframes draw{
  90% {
    fill-opacity:0;
    stroke-dashoffset: 0;
  }
  100%{
    fill-opacity:1;
    stroke-dashoffset: 0;}
 }

 @-o-keyframes draw{
  90% {
    fill-opacity:0;
    stroke-dashoffset: 0;
  }
  100%{
    fill-opacity:1;
    stroke-dashoffset: 0;}
 }

 @-ms-keyframes draw{
  90% {
    fill-opacity:0;
    stroke-dashoffset: 0;
  }
  100%{
    fill-opacity:1;
    stroke-dashoffset: 0;}
 }

  @keyframes draw{ 
   90% {
    fill-opacity:0;
    stroke-dashoffset: 0;
  }
  100%{
    fill-opacity:1;
    stroke-dashoffset: 0;}
   } 


@-webkit-keyframes bdraw{
  90% {
    fill-opacity:0;
    stroke-dashoffset: 2223.6;
  }
  100%{
    fill-opacity:1;
    stroke-dashoffset: 2223.6;}
 }

@-moz-keyframes bdraw{
  90% {
    fill-opacity:0;
    stroke-dashoffset: 2223.6;
  }
  100%{
    fill-opacity:1;
    stroke-dashoffset: 2223.6;}
 }

 @-o-keyframes bdraw{
  90% {
    fill-opacity:0;
    stroke-dashoffset: 2223.6;
  }
  100%{
    fill-opacity:1;
    stroke-dashoffset: 2223.6;}
 }

 @-ms-keyframes bdraw{
  90% {
    fill-opacity:0;
    stroke-dashoffset: 2223.6;
  }
  100%{
    fill-opacity:1;
    stroke-dashoffset: 2223.6;}
 }

  @keyframes bdraw{ 
   90% {
    fill-opacity:0;
    stroke-dashoffset: 2223.6;
  }
  100%{
    fill-opacity:1;
    stroke-dashoffset: 2223.6;}
   } 

   @-webkit-keyframes ndraw{
  90% {
    fill-opacity:0;
    stroke-width:1px;
    stroke-dashoffset: 0;
  }
  100%{
    fill-opacity:1;
    stroke-width:0px;
    stroke-dashoffset: 0;}
 }

@-moz-keyframes ndraw{
  90% {
    fill-opacity:0;
    stroke-width:1px;
    stroke-dashoffset: 0;
  }
  100%{
    fill-opacity:1;
    stroke-width:0px;
    stroke-dashoffset: 0;}
 }

 @-o-keyframes ndraw{
  90% {
    fill-opacity:0;
    stroke-width:1px;
    stroke-dashoffset: 0;
  }
  100%{
    fill-opacity:1;
    stroke-width:0px;
    stroke-dashoffset: 0;}
 }

 @-ms-keyframes ndraw{
  90% {
    fill-opacity:0;
    stroke-width:1px;
    stroke-dashoffset: 0;
  }
  100%{
    fill-opacity:1;
    stroke-width:0px;
    stroke-dashoffset: 0;}
 }

  @keyframes ndraw{ 
   90% {
    fill-opacity:0;
    stroke-width:1px;
    stroke-dashoffset: 0;
  }
  100%{
    fill-opacity:1;
    stroke-width:0px;
    stroke-dashoffset: 0;}
   } 

