#heart{
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  -moz-transition: -moz-transform 0.25s ease-in-out;
  -o-transition: -o-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;

  -webkit-transform-origin: 381px 192px;
  -moz-transform-origin: 381px 192px;
  -ms-transform-origin: 381px 192px;
  -o-transform-origin: 381px 192px;
  transform-origin: 381px 192px;
  }

#brain{
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  -moz-transition: -moz-transform 0.25s ease-in-out;
  -o-transition: -o-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out; 

 -webkit-transform-origin: 171px 113px;
  -moz-transform-origin: 171px 113px;
  -ms-transform-origin: 171px 113px;
  -o-transform-origin: 171px 113px;
  transform-origin: 171px 113px;

  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
          transform: translateY(0px);
  }

  #inners{
  -webkit-transform: translateY(300px);  
  -moz-transform: translateY(300px);  
  -o-transform: translateY(300px);  
  -ms-transform: translateY(300px);  
  transform: translateY(300px);  

  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  -moz-transition: -moz-transform 0.25s ease-in-out;
  -o-transition: -o-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out; 

}

  #hole{
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  -moz-transition: -moz-transform 0.25s ease-in-out;
  -o-transition: -o-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out; }

.svgLoaded #inners{
  -webkit-animation: rise 1s ease-in-out 3s;
  -moz-animation: rise 1s ease-in-out 3s;
  -ms-animation: rise 1s ease-in-out 3s;
  -o-animation: rise 1s ease-in-out 3s;
  animation: rise 1s ease-in-out 3s; 

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

#brain:hover{
  -webkit-animation: idle 2s infinite linear;
  -moz-animation: idle 2s infinite linear;
  -o-animation: idle 2s infinite linear;
  -ms-animation: idle 2s infinite linear;
  animation: idle 2s infinite linear;
}

#heart:hover{
  -webkit-animation: idle 2s infinite linear;
  -moz-animation: idle 2s infinite linear;
  -ms-animation: idle 2s infinite linear;
  -o-animation: idle 2s infinite linear;
  animation: idle 2s infinite linear;

}
#outline1{
  fill-opacity: 0;
  stroke-dasharray: 1111.8 2223.6;
  stroke-dashoffset: 1111.8;
  -webkit-animation: draw 4s ease-in-out;
  -moz-animation: draw 4s ease-in-out;
  -o-animation: draw 4s ease-in-out;
  -ms-animation: draw 4s ease-in-out;
  animation: draw 4s ease-in-out;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
#outline2{
  fill-opacity: 0;
  stroke-dasharray: 1111.8 2223.6;
  stroke-dashoffset: 1111.8;
  -webkit-animation: bdraw 4s ease-in-out;
  -moz-animation: bdraw 4s ease-in-out;
  -o-animation: bdraw 4s ease-in-out;
  -ms-animation: bdraw 4s ease-in-out;
  animation: bdraw 4s ease-in-out;
 
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
#hole path{
  fill-opacity: 0;
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  -webkit-animation: draw 4s ease-in-out;
  -moz-animation: draw 4s ease-in-out;
  -o-animation: draw 4s ease-in-out;
  -ms-animation: draw 4s ease-in-out;
  animation: draw 4s ease-in-out;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
#hole line{
  fill-opacity: 0;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  -webkit-animation: draw 4s ease-in-out;
  -moz-animation: draw 4s ease-in-out;
  -o-animation: draw 4s ease-in-out;
  -ms-animation: draw 4s ease-in-out;
  animation: draw 4s ease-in-out;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}


#Name path{
  fill-opacity: 0;
  stroke-dasharray: 250;
  stroke-dashoffset: 250;

  -webkit-animation: ndraw 4s ease-in-out;
  -moz-animation: ndraw 4s ease-in-out;
  -o-animation: ndraw 4s ease-in-out;
  -ms-animation: ndraw 4s ease-in-out;
  animation: ndraw 4s ease-in-out;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

#nav{
  -webkit-animation: fade-in 1s ease-in-out 2s;
  -moz-animation: fade-in 1s ease-in-out 2s;
  -o-animation: fade-in 1s ease-in-out 2s;
  -ms-animation: fade-in 1s ease-in-out 2s;
  animation: fade-in 1s ease-in-out 2s;
  
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

}


