a{
    position:absolute;
    width: 100%;
    text-align: center;    

    

}

a:link {

    text-decoration: none;
    font-size: 50px;
    color: white;
    font-family: sans-serif;

}
#back{
        position:relative;
        top:28px;
        left:70px;
        transition: all 1s ease;
        -webkit-transform-style: preserve-3d;
           -moz-transform-style: preserve-3d;
             -o-transform-style: preserve-3d;
                transform-style: preserve-3d;

     -webkit-transform:  translate3d(0px,0px,-2000px) rotateX(-35deg) rotateY(-45deg) rotateX(180deg) ;translateZ(-300px);
     -moz-transform: translate3d(0px,0px,-2000px) rotateX(-35deg) rotateY(-45deg) rotateX(180deg) ;translateZ(-300);
    -o-transform: translate3d(0px,0px,-2000px) rotateX(-35deg) rotateY(-45deg) rotateX(180deg) ;translateZ(-300);
    transform: translate3d(0px,0px,-2000px) rotateX(-35deg) rotateY(-45deg) rotateX(180deg) ;translateZ(-300);
}

.yaxis{
    background: black;
    width: 400px;
    height:0px;
    -webkit-transform:rotate3d(0,0,1,90deg);
}
.xaxis{
    background: black;
    width: 400px;
    height:0px;
}
.zaxis{
    background: black;
    width: 400px;
    height:0px;
    -webkit-transform:rotate3d(0,1,0,90deg);
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    width:400px;
    -webkit-transform: translate(-200px, 0);           
    -moz-transform: translate(-200px, 0);   
      -o-transform: translate(-200px, 0);   
         transform: translate(-200px, 0);   

}
.container{
    position:absolute;
    
        transition: all 1s ease;
        -webkit-transform-style: preserve-3d;
           -moz-transform-style: preserve-3d;
             -o-transform-style: preserve-3d;
                transform-style: preserve-3d;
}  

.cube{
    position:relative;
        
        transition: all 1s ease;
        -webkit-transform-style: preserve-3d;
           -moz-transform-style: preserve-3d;
             -o-transform-style: preserve-3d;
                transform-style: preserve-3d;

     -webkit-transform: translate3d(70px,-55px,125px)rotateX(-35deg) rotateY(45deg) ;
     -moz-transform:translate3d(70px,-55px,125px)rotateX(-35deg) rotateY(45deg) ;
    -o-transform: translate3d(70px,-55px,125px)rotateX(-35deg) rotateY(45deg) ;
    transform: translate3d(70px,-55px,125px)rotateX(-35deg) rotateY(45deg) ;
}  
.face{
    position:absolute;
    width: 200px;
	height: 200px;
    background: #DF0101;
    border: 1px solid white;
    
    
}

.left {
	left:0px;
	top:0px;
    background: #8A0808;
    -webkit-transform: translateZ(-100px) rotateY(90deg);
	-moz-transform: translateZ(-100px) rotateY(90deg);
	-o-transform:translateZ(-100px) rotateY(90deg);
}
.b-left {
	left:0px;
	top:0px;
    background: #8A0808;
    -webkit-transform: translateZ(-100px) rotateY(90deg) translateZ(200px);
	-moz-transform:translateZ(-100px) rotateY(90deg) translateZ(200px);
	-o-transform: translateZ(-100px) rotateY(90deg) translateZ(200px);
}

.right {
	left:0px;
	top:0px;
    
    -webkit-transform: translateX(100px) rotateY(0deg);
	-moz-transform: translateX(100px) rotateY(0deg);
	-o-transform: translateX(100px) rotateY(0deg);


}
.b-right {
	left:0px;
	top:0px;
    background: #FE2E2E;
    -webkit-transform: translateX(100px) rotateY(0deg) translateZ(-200px);
	-moz-transform: translateX(100px) rotateY(0deg) translateZ(-200px);
	-o-transform: translateX(100px) rotateY(0deg) translateZ(-200px);


}

.top {
	left:0px;
	top:0px;
    background: #FE2E2E;
    -webkit-transform:translateZ(-100px) translateX(100px) translateY(-100px) rotateX(90deg);
	-moz-transform: translateZ(-100px) translateX(100px) translateY(-100px) rotateX(90deg);
	-o-transform: translateZ(-100px) translateX(100px) translateY(-100px) rotateX(90deg);
}
.b-top {
	left:0px;
	top:0px;

    -webkit-transform:translateZ(-100px) translateX(100px) translateY(-100px) rotateX(90deg) translateZ(-200px);
	-moz-transform: translateZ(-100px) translateX(100px) translateY(-100px) rotateX(90deg) translateZ(-200px);
	-o-transform: translateZ(-100px) translateX(100px) translateY(-100px) rotateX(90deg) translateZ(-200px);

}
#top:hover ~ .container{
    -webkit-transform:rotateX(-55deg);
    -moz-transform: rotateX(-55deg) ;
    -o-transform: rotateX(-55deg) ;
}

#left:hover ~ .container{
    -webkit-transform: rotate3d(0,1,0,45deg) rotate3d(1,0,0,35deg) ;
    -moz-transform: rotate3d(0,1,0,45deg) rotate3d(1,0,0,35deg);
    -o-transform: rotate3d(0,1,0,45deg) rotate3d(1,0,0,35deg);
}

#right:hover ~ .container{
    -webkit-transform: rotateY(-45deg) rotateX(35deg);
       -moz-transform: rotateY(-45deg) rotateX(35deg);
         -o-transform: rotateY(-45deg) rotateX(35deg);  
}


#spin:hover ~ .container{

    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);    
}

.menu {
    position:absolute;
    width:200px;
}

.left-menu {
    top:109px;
    left:28px;
    -webkit-transform:rotateX(35.25deg) rotateX(-90deg) rotate(45deg);
	-moz-transform: rotateX(35.25deg) rotateX(-90deg) rotate(45deg);
	-o-transform: rotateX(35.25deg) rotateX(-90deg) rotate(45deg);
}

.right-menu {
    top:109px;
    left:170px;
    
      -webkit-transform:rotateX(35.25deg) rotateX(-90deg) rotate(-45deg);
	-moz-transform: rotateX(35.25deg) rotateX(-90deg) rotate(-45deg);
	-o-transform: rotateX(35.25deg) rotateX(-90deg) rotate(-45deg);
}

.top-menu {
    top:-135px;
    left:28px;
    
    -webkit-transform:rotateX(35.25deg) rotateX(-90deg) rotate(-45deg);
	-moz-transform: rotateX(35.25deg) rotateX(-90deg) rotate(-45deg);
	-o-transform: rotateX(35.25deg) rotateX(-90deg) rotate(-45deg);
}
.spin-menu {
    top:-135px;
    left:171px;
    
    -webkit-transform:rotateX(35.25deg) rotateX(-90deg) rotate(45deg);
    -moz-transform: rotateX(35.25deg) rotateX(-90deg) rotate(45deg);
    -o-transform: rotateX(35.25deg) rotateX(-90deg) rotate(45deg);
}
.shadow{

    position:absolute;
    bottom:0px;
    left:0px;
    width:100%;
    height:700px;
    background: -moz-linear-gradient(top,  rgba(137,255,241,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(137,255,241,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(137,255,241,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(137,255,241,0) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(137,255,241,0) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(137,255,241,0) 0%, #45ADA8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0089fff1', endColorstr='#000000',GradientType=0 ); /* IE6-9 */



}
.bottomshadow{
    -webkit-transform: translateY(700px) scaleY(-1);
    -moz-transform: translateY(682px) scaleY(-1);
    -o-transform: translateY(682px) scaleY(-1);
    position:absolute;
    bottom:0px;
    left:0px;
    width:100%;
    height:700px;
    background: -moz-linear-gradient(top,  rgba(137,255,241,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(137,255,241,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(137,255,241,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(137,255,241,0) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(137,255,241,0) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(137,255,241,0) 0%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0089fff1', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}
.grad {
  background: -webkit-linear-gradient(grey, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(grey, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(grey, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(grey, white); /* Standard syntax */
}
.bgrad {
  background: -webkit-linear-gradient(white,grey); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white,grey); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white,grey); /* For Firefox 3.6 to 15 */
  background: linear-gradient(white,grey); /* Standard syntax */
}
